<%= link_to 'Create a article', articles_path %>
<h2> <%= @article.title %></h2>
<p> <%= @article.content %></p>

<%= render 'form', article: @article %>

<%= link_to 'back', root_path %>
#
<%= link_to "delete", article_path(@article),method: :delete,
  data: { confirm: "Are you sure?" } %>

